# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
# Solution 2

len(chipo)

4622

#### 몰랐던 부분

In [51]:
# Solution 3

chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

#### 틀린 답

In [53]:
chipo.shape[1]

6

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

#### 틀린 부분

In [52]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item? 
Chicken Bowl 인데, max 값을 찾아서 item_name을 print 하는 방법을 모르겠다

#### 틀린 부분

In [54]:
c = chipo.groupby('item_name')

In [57]:
c.sum()

/tmp/ipykernel_8210/128486804.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c.sum()

                                       order_id  quantity  item_price_
item_name
6 Pack Soft Drink                         52322        55       356.95
Barbacoa Bowl                             53972        66       672.36
Barbacoa Burrito                          74718        91       894.75
Barbacoa Crispy Tacos                      5613        12       120.21
Barbacoa Salad Bowl                        9708        10       106.40
Barbacoa Soft Tacos                       18725        25       250.46
Bottled Water                            175944       211       302.56
Bowl                                        472         4        29.60
Burrito                                    1550         6        44.40
Canned Soda                               76396       126       137.34
Canned Soft Drink                        304753       351       438.75
Carnitas Bowl                             62742        71       736.71
Carnitas Burrito                          51652        60       597.83
Carnitas Crispy Tacos                      5868         8        77.96
Carnitas Salad                             1500         1         8.99
Carnitas Salad Bowl                        6693         6        66.34
Carnitas Soft Tacos                       37673        40       375.94
Chicken Bowl                             713926       761      7342.73
Chicken Burrito                          497303       591      5575.82
Chicken Crispy Tacos                      47382        50       472.13
Chicken Salad                             10465         9        81.09
Chicken Salad Bowl                       117104       123      1228.75
Chicken Soft Tacos                        98395       120      1108.09
Chips                                    208004       230       494.34
Chips and Fresh Tomato Salsa             100419       130       361.36
Chips and Guacamole                      449959       506      2201.04
Chips and Mild Fresh Tomato Salsa           279         1         3.00
Chips and Roasted Chili Corn Salsa        14999        23        67.85
Chips and Roasted Chili-Corn Salsa        17462        18        43.02
Chips and Tomatillo Green Chili Salsa     41170        45       132.75
Chips and Tomatillo Red Chili Salsa       45556        50       147.50
Chips and Tomatillo-Green Chili Salsa     21826        33        78.87
Chips and Tomatillo-Red Chili Salsa       18344        25        59.75
Crispy Tacos                                434         2        14.80
Izze                                      10587        20        67.80
Nantucket Nectar                          21814        29        98.31
Salad                                      1150         2        14.80
Side of Chips                             84769       110       185.90
Steak Bowl                               193752       221      2260.19
Steak Burrito                            328437       386      3851.43
Steak Crispy Tacos                        35818        36       357.34
Steak Salad                                2362         4        35.66
Steak Salad Bowl                          29590        31       343.59
Steak Soft Tacos                          50177        56       536.05
Veggie Bowl                               72270        87       867.99
Veggie Burrito                            80962        97       934.77
Veggie Crispy Tacos                         668         1         8.49
Veggie Salad                               7265         6        50.94
Veggie Salad Bowl                         17303        18       182.50
Veggie Soft Tacos                          5520         8        73.96

In [58]:
c = c.sum()

/tmp/ipykernel_8210/3567592183.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = c.sum()

In [63]:
c.sort_values(['quantity'], ascending=False)

                                       order_id  quantity  item_price_
item_name
Chicken Bowl                             713926       761      7342.73
Chicken Burrito                          497303       591      5575.82
Chips and Guacamole                      449959       506      2201.04
Steak Burrito                            328437       386      3851.43
Canned Soft Drink                        304753       351       438.75
Chips                                    208004       230       494.34
Steak Bowl                               193752       221      2260.19
Bottled Water                            175944       211       302.56
Chips and Fresh Tomato Salsa             100419       130       361.36
Canned Soda                               76396       126       137.34
Chicken Salad Bowl                       117104       123      1228.75
Chicken Soft Tacos                        98395       120      1108.09
Side of Chips                             84769       110       185.90
Veggie Burrito                            80962        97       934.77
Barbacoa Burrito                          74718        91       894.75
Veggie Bowl                               72270        87       867.99
Carnitas Bowl                             62742        71       736.71
Barbacoa Bowl                             53972        66       672.36
Carnitas Burrito                          51652        60       597.83
Steak Soft Tacos                          50177        56       536.05
6 Pack Soft Drink                         52322        55       356.95
Chips and Tomatillo Red Chili Salsa       45556        50       147.50
Chicken Crispy Tacos                      47382        50       472.13
Chips and Tomatillo Green Chili Salsa     41170        45       132.75
Carnitas Soft Tacos                       37673        40       375.94
Steak Crispy Tacos                        35818        36       357.34
Chips and Tomatillo-Green Chili Salsa     21826        33        78.87
Steak Salad Bowl                          29590        31       343.59
Nantucket Nectar                          21814        29        98.31
Chips and Tomatillo-Red Chili Salsa       18344        25        59.75
Barbacoa Soft Tacos                       18725        25       250.46
Chips and Roasted Chili Corn Salsa        14999        23        67.85
Izze                                      10587        20        67.80
Veggie Salad Bowl                         17303        18       182.50
Chips and Roasted Chili-Corn Salsa        17462        18        43.02
Barbacoa Crispy Tacos                      5613        12       120.21
Barbacoa Salad Bowl                        9708        10       106.40
Chicken Salad                             10465         9        81.09
Carnitas Crispy Tacos                      5868         8        77.96
Veggie Soft Tacos                          5520         8        73.96
Burrito                                    1550         6        44.40
Veggie Salad                               7265         6        50.94
Carnitas Salad Bowl                        6693         6        66.34
Bowl                                        472         4        29.60
Steak Salad                                2362         4        35.66
Salad                                      1150         2        14.80
Crispy Tacos                                434         2        14.80
Chips and Mild Fresh Tomato Salsa           279         1         3.00
Carnitas Salad                             1500         1         8.99
Veggie Crispy Tacos                         668         1         8.49

In [64]:
c = c.sort_values(['quantity'], ascending=False)

In [65]:
c.head(1)

              order_id  quantity  item_price_
item_name
Chicken Bowl    713926       761      7342.73

### Step 10. For the most-ordered item, how many items were ordered?

In [21]:
chipo.groupby('item_name').count().max()

order_id              726
quantity              726
choice_description    726
item_price            726
dtype: int64

In [20]:
chipo.groupby('item_name').count().max()['order_id']

726

In [69]:
c = chipo.groupby('item_name')

In [71]:
c.sum()

/tmp/ipykernel_8210/128486804.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c.sum()

                                       order_id  quantity  item_price_
item_name
6 Pack Soft Drink                         52322        55       356.95
Barbacoa Bowl                             53972        66       672.36
Barbacoa Burrito                          74718        91       894.75
Barbacoa Crispy Tacos                      5613        12       120.21
Barbacoa Salad Bowl                        9708        10       106.40
Barbacoa Soft Tacos                       18725        25       250.46
Bottled Water                            175944       211       302.56
Bowl                                        472         4        29.60
Burrito                                    1550         6        44.40
Canned Soda                               76396       126       137.34
Canned Soft Drink                        304753       351       438.75
Carnitas Bowl                             62742        71       736.71
Carnitas Burrito                          51652        60       597.83
Carnitas Crispy Tacos                      5868         8        77.96
Carnitas Salad                             1500         1         8.99
Carnitas Salad Bowl                        6693         6        66.34
Carnitas Soft Tacos                       37673        40       375.94
Chicken Bowl                             713926       761      7342.73
Chicken Burrito                          497303       591      5575.82
Chicken Crispy Tacos                      47382        50       472.13
Chicken Salad                             10465         9        81.09
Chicken Salad Bowl                       117104       123      1228.75
Chicken Soft Tacos                        98395       120      1108.09
Chips                                    208004       230       494.34
Chips and Fresh Tomato Salsa             100419       130       361.36
Chips and Guacamole                      449959       506      2201.04
Chips and Mild Fresh Tomato Salsa           279         1         3.00
Chips and Roasted Chili Corn Salsa        14999        23        67.85
Chips and Roasted Chili-Corn Salsa        17462        18        43.02
Chips and Tomatillo Green Chili Salsa     41170        45       132.75
Chips and Tomatillo Red Chili Salsa       45556        50       147.50
Chips and Tomatillo-Green Chili Salsa     21826        33        78.87
Chips and Tomatillo-Red Chili Salsa       18344        25        59.75
Crispy Tacos                                434         2        14.80
Izze                                      10587        20        67.80
Nantucket Nectar                          21814        29        98.31
Salad                                      1150         2        14.80
Side of Chips                             84769       110       185.90
Steak Bowl                               193752       221      2260.19
Steak Burrito                            328437       386      3851.43
Steak Crispy Tacos                        35818        36       357.34
Steak Salad                                2362         4        35.66
Steak Salad Bowl                          29590        31       343.59
Steak Soft Tacos                          50177        56       536.05
Veggie Bowl                               72270        87       867.99
Veggie Burrito                            80962        97       934.77
Veggie Crispy Tacos                         668         1         8.49
Veggie Salad                               7265         6        50.94
Veggie Salad Bowl                         17303        18       182.50
Veggie Soft Tacos                          5520         8        73.96

In [72]:
c = c.sum()

/tmp/ipykernel_8210/3567592183.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = c.sum()

In [76]:
c = c.sort_values(['quantity'], ascending=False)

In [78]:
c.iloc[0,1]

761

In [77]:
c.head(1)

              order_id  quantity  item_price_
item_name
Chicken Bowl    713926       761      7342.73

### Step 11. What was the most ordered item in the choice_description column?

#### 못 푼 문제

In [22]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [47]:
chipo.groupby('choice_description').count()

,order_id,quantity,item_name,item_price,item_price_
choice_description,,,,,
"[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]",1,1,1,1,1
"[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]",1,1,1,1,1
[Adobo-Marinated and Grilled Chicken],1,1,1,1,1
"[Adobo-Marinated and Grilled Steak, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]",1,1,1,1,1
[Adobo-Marinated and Grilled Steak],1,1,1,1,1
...,...,...,...,...,...
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Cheese, Lettuce]]",2,2,2,2,2
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Lettuce]]",1,1,1,1,1
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Cheese, Lettuce]]",1,1,1,1,1
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]",1,1,1,1,1
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]",1,1,1,1,1

In [82]:
c = chipo.groupby('choice_description').sum()

/tmp/ipykernel_8210/502787512.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = chipo.groupby('choice_description').sum()

In [86]:
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity  item_price_
choice_description
[Diet Coke]           123455       159       326.71

### Step 12. How many items were orderd in total?

#### 틀렸음

In [49]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price,item_price_
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
6,3,1,Side of Chips,NaN,$1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25

In [50]:
chipo.groupby('order_id').count()['quantity'].sum()

4622

#### 맞는 답

In [87]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [26]:
type(chipo['item_price'][0])

str

In [88]:
# 다른 답
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [27]:
chipo['item_price_'] = chipo['item_price'].apply(lambda x : float(x[1:]))

#### 다른 답

In [89]:
dollarizer = lambda x: float(x[1:-1]) # 이런 식으로 함수를 먼저 만들고, apply에 넣을 수 있음
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [90]:
chipo['item_price_']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_, Length: 4622, dtype: float64

In [91]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

#### 틀렸음

In [29]:
chipo['item_price_'].sum()

34500.16

#### 맞는 답

In [93]:
(chipo['item_price_'] * chipo['quantity']).sum()

39237.02

### Step 15. How many orders were made in the period?

In [31]:
chipo.groupby('order_id').count() # 1834

          quantity  item_name  choice_description  item_price  item_price_
order_id
1                4          4                   2           4            4
2                1          1                   1           1            1
3                2          2                   1           2            2
4                2          2                   2           2            2
5                2          2                   1           2            2
...            ...        ...                 ...         ...          ...
1830             2          2                   2           2            2
1831             3          3                   1           3            3
1832             2          2                   1           2            2
1833             2          2                   2           2            2
1834             3          3                   3           3            3

[1834 rows x 5 columns]

#### 맞는 답

In [98]:
chipo['order_id'].value_counts().count()

1834

In [ ]:
orders = chipo.order_id.value_counts().count()
orders

### Step 16. What is the average revenue amount per order?

#### 맞는 답

In [100]:
# 전체 order 개수는 위에서 구함
orders = chipo.order_id.value_counts().count()
orders

1834

In [101]:
(chipo['item_price_'] * chipo['quantity']).sum() / orders

21.39423118865867

In [32]:
# Solution 1

chipo.groupby('order_id').mean()

/tmp/ipykernel_8210/2426202814.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby('order_id').mean()

          quantity  item_price_
order_id
1              1.0     2.890000
2              2.0    16.980000
3              1.0     6.335000
4              1.0    10.500000
5              1.0     6.850000
...            ...          ...
1830           1.0    11.500000
1831           1.0     4.300000
1832           1.0     6.600000
1833           1.0    11.750000
1834           1.0     9.583333

[1834 rows x 2 columns]

#### 틀린 답

In [35]:
chipo.groupby('order_id').sum()['item_price_'].sum() / 1834

/tmp/ipykernel_8210/1981460308.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby('order_id').sum()['item_price_'].sum() / 1834

18.811428571428568

In [ ]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue'] # 이렇게 할 수 있다는데, 난 revenue를 만든 적이 없음

### Step 17. How many different items are sold?

In [36]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [37]:
chipo['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [38]:
len(chipo['item_name'].unique())

50

In [109]:
# 다른 답
chipo.item_name.value_counts().count()

50